[submodule "st"]
	path = st
	url = https://github.com/LukeSmithxyz/st.git
[submodule "SF-Mono-Font"]
	path = SF-Mono-Font
	url = https://github.com/supercomputra/SF-Mono-Font.git
[submodule "BigSur-icon-theme"]
	path = BigSur-icon-theme
	url = https://github.com/yeyushengfan258/BigSur-icon-theme.git
